# Absolute path to the src folder used to run transforms
local_execution_path = "/path/to/your/project/opencti-maltego/src"

# Absolute path to a python3 executable used to run transforms
python_path = "/usr/bin/python3"

# Configuration of the OpenCTI API
opencti_config = {
	"url": "https://demo.opencti.io",
	"token": "2b4f29e3-5ea8-4890-8cf5-a76f61f1e2b2",
	"log_level": "error",
	"ssl_verify": True
}

# OpenCTI marking types to be shown on each entity in Maltego
format_config = {
	"marking_color": "TLP",
	"marking_text": None
}

# Config to handle Maltego entities inheritance properties
# Format :
# "stix_type": [(opencti_property_key, maltego_property_key), (opencti_property_key2, maltego_property_key2)...]
heritage_config = {
    "ipv4-addr": [("observable_value", "ipv4-address")],
}
