# Absolute path to the project.py folder
local_execution_path = "/path/to/your/project/opencti-maltego/trx/gunicorn/"

# Absolute path to a python3 executable used to run transforms
python_path = "/usr/bin/python3"

# Configuration of the OpenCTI API
opencti_config = {
	"url": "https://demo.opencti.io",
	"token": "2b4f29e3-5ea8-4890-8cf5-a76f61f1e2b2",
	"log_level": "error",
	"ssl_verify": True,
	"proxies": {},
	"limit": 256
}

# OpenCTI marking types to be shown on each entity in Maltego
format_config = {
	"marking_color": "TLP",
	"marking_text": None
}

# When running in server mode, this caps the cache size on OpenCTI clients / sessions.
# You can safely lower this, it might lead to lower client sessions reuse, but usually it shouldn't be an issue.
max_client_sessions = 2048

# These values will be used to generate an importable CSV config for the iTDS. Local transform users can ignore these.
trx_server_host = "https://localhost:443"
itds_seed_name = "OpenCTI"
